.b-pagination-links {
  width: 100%;
  clear: both;
  display: flex;
  margin-top: 30px;

  &__link {
    color: $c_3;
    margin-right: 10px;

    &:last-child {
      margin-right: 0;
    }
  }

  span {
    color: $c_0;
  }
}

